/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #0078D7;
}

/* Tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

th {
    background-color: #0078D7;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Botones */
button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Botón Eliminar */
button[type="submit"] {
    background-color: #dc3545; /* Rojo */
}

button[type="submit"]:hover {
    background-color: #c82333;
}

/* Botón Actualizar */
.update-btn {
    background-color: #28a745; /* Verde */
}

.update-btn:hover {
    background-color: #218838;
}

/* Formulario */
form {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"], .update-btn {
    padding: 10px 15px;
    font-size: 16px;
}
